./metadata

D:/FSITB1_Spring/demo/demo/.mvn
D:/FSITB1_Spring/demo/demo/.settings
D:/FSITB1_Spring/demo/demo/target

D:/FSITB1_Spring/fsit

D:/FSITB1_Spring/mvc-demo/target
D:/FSITB1_Spring/servers

D:/FSITB1_Spring/ServletDemo/.settings

D:/FSITB1_Spring/ServletDemo/build
